.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0267a3;
  padding: 10px;

  &__logo{
    color: #fff;
    font-size: 2rem;
    margin: 0;

  }
}
